<%- include("partials/header") -%>

    <ul class="recipes">
        <li class="recipe">
            <img src="/smoothie.png" alt="smoothie icon" />
            <h4>Banana boost</h4>
            <p>Banana, vanilla ice cream, milk</p>
        </li>
        <li class="recipe">
            <img src="/smoothie.png" alt="smoothie icon" />
            <h4>Banana boost</h4>
            <p>Banana, vanilla ice cream, milk</p>
        </li>
        <li class="recipe">
            <img src="/smoothie.png" alt="smoothie icon" />
            <h4>Banana boost</h4>
            <p>Banana, vanilla ice cream, milk</p>
        </li>
        <li class="recipe">
            <img src="/smoothie.png" alt="smoothie icon" />
            <h4>Banana boost</h4>
            <p>Banana, vanilla ice cream, milk</p>
        </li>
        <li class="recipe">
            <img src="/smoothie.png" alt="smoothie icon" />
            <h4>Banana boost</h4>
            <p>Banana, vanilla ice cream, milk</p>
        </li>
        <li class="recipe">
            <img src="/smoothie.png" alt="smoothie icon" />
            <h4>Banana boost</h4>
            <p>Banana, vanilla ice cream, milk</p>
        </li>
    </ul>

    <%- include("partials/footer") -%>